[user]
	name = Daichi TOMA
	email = amothic@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	st = status
	unstage = reset HEAD --
	last = log -p -1 HEAD
[merge]
	tool = vimdiff
[color]
	ui = auto
